mixin header 
  .header__area
    header.header
      .logo1
        a(href='/')
          span Бухгалтерские
          span услуги
      .topMenu__area
        .topMenu__outer
          .menuButton
            span
            span
            span
          ul.topMenu
            li.lev1.active
              a(href='#') Главная
            li.lev1
              a(href='#') Услуги
              ul
                li.lev2
                  a(href='#') Бухгалтерское обслуживание
                li.lev2
                  a(href='#') Нулевая отчетность
                li.lev2
                  a(href='#') Персонифицированный учет и 2-НДФЛ
                li.lev2
                  a(href='#') Кадровое делопроизводство
                li.lev2
                  a(href='#') Дополнительные услуги
            li.lev1
              a(href='#') Статьи
            li.lev1
              a(href='#') Контакты
      .header__info
        a(href='tel:+79873385617') +7(987)338-56-17
      .adaptiveMenu__area
        .adaptiveMenu__outer
          ul.adaptiveMenu
            li.alev1.active
              a(href='#') Главная
            li.alev1
              a(href='#') Услуги
              ul
                li.alev2
                  a(href='#') Бухгалтерское обслуживание
                li.alev2
                  a(href='#') Нулевая отчетность
                li.alev2
                  a(href='#') Персонифицированный учет и 2-НДФЛ
                li.alev2
                  a(href='#') Кадровое делопроизводство
                li.alev2
                  a(href='#') Дополнительные услуги
            li.alev1
              a(href='#') Статьи
            li.alev1
              a(href='#') Контакты